/* 头部 */
.head{
    height: 45px;
    background-color: #252525;
    color: #ffffff;
    line-height: 45px;
}
.head_right li{
    float: left;
}
/* 给图片设置左右边距 */
.head_right li:nth-child(odd) img{
   margin: 0px 4px 0px 23px;
}
/* 导航 */
/* 导航左边区域 */
nav{
    height: 103px;
    line-height: 103px;
}
.nav_left{
    margin-top: 24px;
}
/* 导航右边区域 */
.nav_right{
    margin-right: 28px;
}
.nav_right li{
    float: left;
    margin-left: 68px;
}
.nav_right li:hover::after{
    content: "";
    display: block;
    height: 5px;
    width: 80%;
    background-color: #15bded;
    margin:0 auto;
    margin-top: -30px;
}
.nav_right a{
    text-decoration: none;
    color: #252525;
}
.banner{
    height: 309px;
    background: url(../images/banner5.jpg) no-repeat center;
    position: relative;
}

/* 底部 */
.foot{
    box-sizing: border-box;
    height: 448px;
    margin-top: 98px;
    background-color: #141414;
    border: 1px solid transparent;
}
.foot .foot_top{
    height: 204px;
    margin-top: 68px;
}
.foot_top>li{
    width: 353px;
    height: 204px;
    float: left;
}
.foot_top>li:nth-of-type(2){
    margin: 0px 67px;
}
.ft_left .ftl_item>li{
    height: 40px;
	font-size: 15px;
    color: #818388;
    line-height: 38px;
}
.ft_left li:first-child{
    height: 50px;
    margin-bottom: 27px;
}
.ftl_item li>span{
   display: inline-block;
   width: 25px;
   height: 25px;
   background:url(../images/icon.jpg) no-repeat 0px 7px; 
   margin-right: 5px;
}
.ftl_item .item_second>span{
    background-position: 0px -33px;
}
.ftl_item .item_third>span{
    background-position: 0px -75px;
}
.foot_top .ft_center{
    box-sizing: border-box;
    padding: 15px 60px 0px 20px;
    position: relative;
    top: 0;
    left: 0;
}
.foot_top h2{
    width: 74px;
    height: 25px;
	font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
}
.foot_top h2:hover{
    height: 44px;
    background: url(../images/line_bg.png) no-repeat 0px -10px;
}
.ftc_left,.ftc_right{
    width: 71px;
    height: 128px;
    color: #818388;
}
.ftc_left{
    position: absolute;
    top:75px;
}
.ftc_right{
    position: absolute;
    top:75px;
    right: 60px;
}
.ft_center ul>li{
    height: 40px;
    line-height: 40px;
}
.foot_top .ft_right{
    box-sizing: border-box;
    padding-top: 15px;
    position: relative;
}
.ft_right form{
    width: 323px;
    height: 47px;
    position: absolute;
    top: 88px;
}
.ft_right form input:first-child{
    width: 217px;
    height: 47px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border: 1px solid #303030;
    border-right: none;
    font-size: 12px;
    padding-left: 6px;
    background-color: #333333;
}
.ft_right form input:last-child{
    width: 102px;
    height: 47px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border: 1px solid #303030;
    border-left: none;
    color: #ffffff;
    font-size: 15px;
    background-color: #3aa27f;
}
.ft_right span:nth-of-type(1){
	font-size: 14px;
    color: #818388;
    position: absolute;
    top: 164px;
}
.ft_right span:nth-of-type(2){
    display: inline-block;
    width: 75px;
    height: 31px;
    background: url(../images/fenxiang.png) no-repeat 0px 0px;
    position: absolute;
    top: 155px;
    left: 66px;
}
.foot .copyright{
    margin-top: 68px;
    height: 76px;
	font-size: 12px;
    color: #818388;
    background-color: #000000;
    text-align: center;
    line-height: 76px;
} 
