/* 版心 */
.center{
    width: 1200px;
    margin: 0 auto;
}
/* 左浮动 */
.fl{
    float: left;
}
/* 右浮动 */
.fr{
    float: right;
}
/* 清楚浮动 */
.clear{
    clear: both;
}
/* 伪元素清楚浮动 */
.clearfix::after{
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}