/* 首页联系我们 */
.firstpage_cu{
    line-height: 50px;
	font-size: 13px;
    color: #818388;
    border-bottom: 2px solid #f3f3f3;
}
.contachus{
    position: relative;
    height: 725px;
}
.contachus_top{
    line-height: 64px;
    font-size: 21px;
    color: #252525;
    top: 0;
}
.contachus_top:hover::after{
    content: "";
    width: 53px;
    height: 4px;
    display: block;
    background-color: #15bded;
}
.bottom{
    position: absolute;
    top: 67px;
    margin-top: 23px;
    width: 262;
    height: 632px;
}
.bottom .left{
    widows: 262px;
    margin-right: 23px;
}
.bottom .left li{
    width: 262px;
    height: 49px;
    font-size: 13px;
    color: #252525;
    background-color: #f2f2f2;
    text-align: center;
    line-height: 49px;
    margin-bottom: 1px;
}
.bottom .left li:last-child{
    margin-top: 31px;
    width: 261px;
	height: 302px;
    background: url(../images/contach.png) no-repeat;
}
.bottom .right{
    height: 620px;
    width: 913px;
    margin-top: 10px; 
}
.bottom .right>#container{
    width: 913px;
    height: 371px;
}
.bottom .right>ul{
    width: 920px;
    height: 213px;
    box-sizing: border-box;
    border: 2px solid #eeeeee;
    margin-top: 35px;
    padding: 30px 485px 42px 23px;
}
.right ul>li{
    line-height: 40px;
    font-size: 15px;
    color: #a8a8a8;
}
/* 底部 */
.foot{
    margin-top: 12px;
}
